@media (min-width: 768px) {
  .nav-link.active,
  .nav-pills .show > .nav-link {
    color: #fff !important;
    background-color: #007bff;
  }
}

.nav-link {
  border-radius: 0.25rem;
}

.login-form {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 15px;
}

.btn-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
